<div id="topnav" fxLayout="column" fxLayoutAlign="center stretch" class="sticky">
  <div id="title-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <h1 class="mat-h1">Google Marketplace</h1>
  </div>
  <mat-tab-group mat-stretch-tabs [(selectedIndex)]="selectedTab">
    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-icon class="example-tab-icon">local_offer</mat-icon>
          <p class="mat-small no-margin">Sell</p>
        </div>
      </ng-template>
      <app-sell-item #sellItem ></app-sell-item>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-icon class="example-tab-icon">storefront</mat-icon>
          <p class="mat-small no-margin">Buy</p>
        </div>
      </ng-template>
      <app-buy-item #buyItem (onMessageClicked)="onMessageClicked($event)"></app-buy-item>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-icon class="example-tab-icon">chat_bubble</mat-icon>
          <p class="mat-small no-margin">Chat</p>
        </div>
      </ng-template>
      <app-chat #chat [currentPage]="chatCurrentPage"></app-chat>
    </mat-tab>
  </mat-tab-group>
</div>
