<mat-tab-group mat-align-tabs="center" class="stickyy">
    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">local_offer</mat-icon>
        </ng-template>
        <app-sell-item #sellItem></app-sell-item>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">storefront</mat-icon>
        </ng-template>
        <app-buy-item #buyItem ></app-buy-item>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">chat_bubble</mat-icon>
        </ng-template>
        <app-chat #chat ></app-chat>
      </mat-tab>
</mat-tab-group>

