<div id="content">
    <form #detailsForm="ngForm">
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1%">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div id="picture">Some picture here.</div>
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field appearance="standard">
                        <mat-label>Item Name</mat-label>
                        <input matInput
                            required
                            placeholder="Name"
                            [(ngModel)]="item.name"
                            name="name">
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>Sale Price</mat-label>
                        <input matInput 
                            required
                            placeholder="$"
                            [(ngModel)]="item.price"
                            name="price">
                    </mat-form-field>
                </div>
            </div>
            <div id="detailsDiv" fxLayout="column" fxLayoutAlign="start stretch">
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput
                        rows="20"
                        [(ngModel)]="item.description"
                        name="description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div id="footer" class="mat-elevation-z24" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-flat-button routerLink="../upload">
        Back
    </button>
    <button mat-flat-button 
        type="submit"
        color="primary" 
        routerLink="../submit"
        [disabled]="!detailsForm.form.valid">
        Submit
    </button>
</div>
