* {
    box-sizing: border-box;
}


#content {
    width: 100%;
    height: 100%;
}

.small-image-container {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
    background-color: white;
}

.wide-stretch {
    width: 100%;
}

.tall {
    height: 100%;
}

#topInfoDiv {
    max-height: 50%;
    padding: 2%;
}

#detailsDiv {
    width: 100%;
    padding: 5%;
    height: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3%;
}
